button {
    color: rgb(196, 230, 250);
    background-color: rgba(13, 48, 70, 0.981);
    border-color: rgba(13, 48, 70, 0.981);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    margin: 20px;

}