table {
    color: rgba(36, 64, 82, 0.981);
    background-color: rgba(199, 230, 249, 0.185);

    th {
        color: rgba(75, 137, 175, 0.981);
    }

    tr,
    td {
        color: rgba(36, 64, 82, 0.981);
    }
}

mat-paginator {
    background-color: rgba(199, 230, 249, 0.32);
    color: rgba(75, 137, 175, 0.981);
}