<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" matSortActive="date" matSortDirection="desc" width="100%">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</th>
        <td mat-cell *matCellDef="let item"> {{ item.sensor.name }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
        <td mat-cell *matCellDef="let item"> {{ item.date }} </td>
    </ng-container>

    <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Temperatur</th>
        <td mat-cell *matCellDef="let item"> {{ item.temperature }}°C </td>
    </ng-container>

    <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Luftfeuchtigkeit</th>
        <td mat-cell *matCellDef="let item"> {{ item.humidity }}%</td>
    </ng-container>

    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Standort</th>
        <td mat-cell *matCellDef="let item"> {{ item.sensor.location }} </td>
    </ng-container>

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td mat-cell *matCellDef="let item"> {{ item.sensor.position }} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
            <button class="delete-button" (click)="deleteSensorData(item.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="paginator">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>